.section-slide {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.section-container-itens {
    height: 100vh;
}

.lbl-bold {
    font-weight: 700;
}


/*SECTION HOME*/
.section-home {
    background-image: url("../../../assets/img/fundoChk.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
  }

.section-home-left {
   font-size: 1.5em;
   text-align: justify;
}

.section-home-left-container {
    height: 100vh;
    min-height: 100vh;
    padding-top: 30px;
}

.section-home-left-lbltxt > p {
    line-height: 45px;
    font-size: 25px;
    padding-right: 20px;
}

.section-home-left-txtTitulo {
    margin: 20px 20px 0 0;
    font-size: 35px
}

.section-home-left-txtTitulo-mobile {
    font-size: 1.1em;
}

.lbl-app {
    color: #2BB530;
}

.section-home-left-lbltxt-mobile > p {
    line-height: 25px;
    font-size: 20px;
}

.section-home-left-mobile {
    margin: 10px;
}
/*SECTION HOME*/

/* SECTION SOBRE*/
.section-sobre {
    background-color: #2B3DB5;
    font-family: "Roboto", sans-serif;
  }

.section-sobre-container-itens {
    height: 100vh;
    color: white;
    text-align: justify;
}

.section-sobre-container-itens > div p {
    font-size: 20px;
}

.section-sobre-item {
    width: 90%;
}

.section-sobre-img {
    width: 600px;
    height: 100vh;
    margin-right: 40px;
}
/* SECTION SOBRE*/

/* SECTION FUNCIONALIDADES*/
.section-funcionalidade {
    padding-top: 30px;
    height: 800px;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

.section-funcionalidade-mobile {
    padding-top: 20px;
    height: 1450px;
}

.section-funcionalidade-cards {
    margin: 5px 5px 0 5px;
 }

.section-funcionalidade-container{
   height: 100vh; 
}

.section-funcionalidade-container-itens > div {
    margin-top: 15px;
    margin-left: 50px;
    width: 200px;
}

.section-funcionalidade-container-item {
    width: 480px;
    height: 150px;
}

.img-mobile {
    width: 80px;
    height: 80px;
}

mat-card-title {
    text-align: justify;
}

mat-card-content > p {
    text-align: justify;
}


/* SECTION FUNCIONALIDADES*/

/* SECTION CONTATO*/
#contato {
    margin-top: 100px;
    z-index: 1;
}

.section-contato {
    padding-top: 80px;
    background-image: url("../../../assets/img/fundoChk.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.section-contato-form {
    width: 450px;
    height: 450px;
}

.section-contato-form-mobile {
    width: 300px;
}

.section-contato-h1 {
    font-size: 2em;
}

.section-contato-p {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.section-contato-h1-mobile {
    padding-left: 15px;
}

.section-contato-p-mobile {
    padding-left: 15px;
    font-weight: 500;
}

.section-contato-form-field {
    width: 400px;
    padding-bottom: 0px;
}

::ng-deep .mat-form-field-wrapper {
     padding-bottom: 5px;
}


.section-contato-form-field-mobile {
    width: 290px;
}

.section-contato-form-button {
    background-color: chartreuse;
    color: white;
}

.section-contato-container {
    padding-bottom: 40px;
}
/* SECTION CONTATO*/