/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.border {
  border: 1px solid red;
}

.green {
  color: #28a745;
}

.red {
  color: #df4242;
}

.v-middle {
  vertical-align: middle;
}

.spacer-frl {
  flex: 1 1 auto;
}

.msg-success {
  background-color: #28a745;
  color: #fff;
}

.msg-error {
  background-color: #e35e6b;
  color: #fff;
}
