<mat-toolbar class="navbar mat-elevation-z4 navbar-header">
  <div fxLayout="row">
    <div fxFlex="10">
      <img
        src="../assets/img/logochk.png"
        alt="Logo imagem"
        class="navbar-logo"
      />
    </div>
    <span class="spacer-frl"></span>
    <div>
      <mat-nav-list fxLayout="row" class="navbar-itens">
        <a mat-list-item routerLinkActive="active" (click)="toHome()"> HOME </a>
        <a mat-list-item routerLinkActive="active" (click)="toSobre()">
          SOBRE
        </a>
        <a mat-list-item routerLinkActive="active" (click)="toFuncionalidade()">
          FUNCIONALIDADES
        </a>
        <a mat-list-item routerLinkActive="active" (click)="toContato()">
          CONTATO
        </a>
      </mat-nav-list>
    </div>
  </div>
  <span class="spacer-frl"></span>
  <a href="https://checkapp-angular.herokuapp.com/" target="_blank" mat-raised-button>ENTRAR</a>
</mat-toolbar>
